*{
    font-family: 'Roboto', sans-serif;
}

input{
    font:normal 18pt Arial;
    width: 200px;
}

div#result{
    font-size: 18pt;
    margin-top: 10px;
}

div#action{
    background-color: blue;
}