* {
    font-size: 3rem;
}


h1 {
    display: flex;
    justify-content:center;
}

div#border {
    display: flex;
    justify-content: space-around;
}

#numbers {
    display: flex;
    justify-content: center;
    /* margin-bottom: 5rem; */
}

input{
    font:normal 18pt Arial;
    width: 200px;
}

div#result{
    font-size: 18pt;
    margin-top: 10px;
}

div#action{
    background-color: blue;
}