<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>

    <link rel="stylesheet" href="/css/page-landing.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1 id="title">Addition</h1>

    <div id="border">

        <select name="Operacao" id="operation">
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
        </select>

        <button type="button" id="action">Somar</button>
    </div>

    <div id="numbers">
        <input type="number" name="input1">
        <input type="number" name="input2">
    </div>

    <div id="result">Result</div>

    <script src="/scripts/index.js"></script>
</body>

</html>